page-selectedRoute {

.title {
  align-items: center;
  align-content: center;

}
.box {
  align-items: center;
  align-content: center;
  border-width: thin;
  border-color: #ffffff;
  color: #ffffff;

}

.title{
  font-size: 40px;
  color: #ffffff;
}




}
