page-selectedRoute {

.title {
  align-items: center;
  align-content: center;

}
.box {
  align-items: center;
  align-content: center;
  border-width: thin;
  border-color: #ffffff;

}

$background-color: bg-color;

.h3{
  font-size: 20px;

}


}
