.ion-ios-customicon1,
.ion-md-customicon1 {
  content: url(/assets/icon/icon_yel.png);
  width: auto;
  height: 40px;
  padding: 2px;
  align-items: center;

}
.ion-ios-customicon2,
.ion-md-customicon2 {
  content: url(/assets/icon/arena_icon.png);
  width: auto;
  height: 40px;
  padding: 2px;
  align-items: center;

}
