page-globen {

.item {

}

#globen-button3{
  background:#998;
  padding: 20px;
  border-radius: 6px;
  color: #000;

}

#globen-list-item20 {
  background: #998;
  padding: 6px;
  border-radius: 6px;
}

#globen-list-item18 {
  background: #998;
  padding: 6px;
  border-radius: 6px;
}

#globen-list-item17 {
  background: #998;
  padding: 6px;
  border-radius: 6px;
}

#globen-list-item19 {
  background: #998;
  padding: 6px;
  border-radius: 6px;
}



}
