
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

$font-family-ios-base:"Helvetica", "Arial";
$font-family-md-base:"Helvetica", "Arial";
$font-family-wp-base:"Helvetica", "Arial";

$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #000000,
  background:  #ffffff,
  yellow:     #fffd04,
  light:      #afb7c2,
  dark:       #353333,
  danger:     #ff0000
);

$toolbar-background: #afb7c2;
$toolbar-text-color: #ffffff;
$toolbar-ios-title-font-size: 25px;
$toolbar-md-title-font-size: 25px;
$toolbar-wp-title-font-size: 25px;



@import "ionic.theme.default";


@import "ionic.ionicons";


@import "roboto";
@import "noto-sans";
