page-globen {

.event {
  font-size: 14px;
  text-align: center;
  color: #ff0000;

}

.informationText {
  font-size: 12px;

}

.spacer {
  width: auto;
  height: 10px;

}

.item {
  background:#998;
  border-radius: 6px;
  color: #000;
  height: 70px;

}
.bulb {
  color: #00ff00;

}

.person{
  color: #ff0000;
}

}
