page-selectedVenue {

.stations {
  align-self: center;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  background-color: #353333;
  border-left: 10px;

  }

.left{
  width: auto;
  align-self: left;

}
.right{
    width: auto;
    align: right;
}
}
